/* @import url("https://fonts.googleapis.com/css2?family=Poppins"); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.6rem;
    margin-bottom: 0;
    background-color: #6F00FF;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

nav div ul{
    display:inline-flex;

    
}

nav div ul li{
    list-style: none;
    margin: 1.2rem;
}

nav div ul li a{
    text-decoration: none;
    color: #fff;
}

nav .kayBlog{
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.12em;
    font-weight: 900;
}

main{
    background-color: #1a1f71;
    margin-top: 4em;
}

.avatar1{
    height: 3.1rem;
    border: 5px solid black;
    border-radius: 50%;

}

.blog1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin-bottom: 0.8rem;
    
}

 .blog1 .blg2{
    width: 35%;
    margin: 2.1rem;
    height: 17.5rem;
    
    
}
.blog1 .blg{
  
    
    width: 35%;
    margin: 2.1rem;
    height: 16.5rem;
}

.imgBlg{
    height: 100%;
    width: 100%;
    border-radius: 3em;
    border: 1.1em solid #324AB2;
}

.blg2 div{
    margin: 1.0em 0;
    color: #f2eeee;
}

.blg2 div p{
    font-size: 0.97rem;
    font-weight: 400;
    color: #f8f8ff;
}

.blg2 div h5{
    color: #4B61D1;
    margin-left: 0.4em;
}

.blg2 div h5:hover{
    color: #fff;
}


.btmDiv{
    display: flex;
    height: 2.73em;
    
}

.btmDiv div{
    margin: 0;
    padding: 0;
}

.avatar2Descp{
    height: 100%;
}

.btmDiv .avatar2{
    margin-right: 0.6rem;
}

.avatar2Img{
    height: 100%;
    border-radius: 30%;
}

.sect2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 6.2em;
    padding: 0;
    
}

.sect2 .sect2Div{
    width: 30%;
    margin: 3rem auto;
}

.sect3{
    width: 80%;
    margin-left: 6.2em;
    padding: 0;

}

.sect3 .sect3Div{
    width: 30%;
    margin-top: 3rem;
    margin-left: 0;
}


.prefooter{
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prefooter div ul{
    width: 13.2em;
}

.prefooter div ul li{
    text-align: center;
    list-style: none;
    margin: 2.1rem 0;
    font-size: 0.9rem; 
    font-weight: 700;
    color: #4B61D1;
    cursor: pointer;
}

.prefooter div ul li:hover{
    color: #ccc;

}
footer{
    background-color: #2E2787;
}

.footerItems{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23rem;
}

.footerItems div ul{
    margin-top: 0;
}

.footerItems div ul li{
    width: 13.5em;
    margin-top: 1.1rem;
    list-style: none;
    color: #ffffffec;
    font-size: 0.9em;
    transition: 0.5s;
    cursor: pointer;
    
}

.footerItems div ul li:hover{
    letter-spacing: 0.12em;
}

.footerItems div ul li h1{
    color: #fff;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    background-color: #4B61D1;
    color: #ccc;
}

hr{
    /* border: none; */
    height: 3px;
    border-color: black;
    margin-left: 0.7em;
}

.hrFooter{
    border: none;
    height: 3px;
    border-color: #1a1f71;
}